[submodule "JekaPortfolio"]
	path = JekaPortfolio
	url = https://github.com/MightySeswatha/JekaPortfolio.git
[submodule "TNTClient"]
	path = TNTClient
	url = https://github.com/Jeka8833/TNTClientWeb.git
